AuthUserFile /mnt/var/vcap.local/dea/apps/privatemk-0-a35075ab0e48bfa1b76df808e8b59c20/app/.htpasswd
AuthGroupFile /dev/null
AuthName home
AuthType Basic

require valid-user

<Files ~ "^.(htpasswd|htaccess)$">
    deny from all
</Files>